/* override bootstrap-dark-5 behaivor for setting opacity hr to 0.1 */
@media (prefers-color-scheme: dark) {
  hr {
    opacity: 0.4;
  }
}

/*  make .btn-light match .btn-dark styles when in dark mode */
@media (prefers-color-scheme: dark) {
  .btn-light {
    background-color: #3b3b3b;
    border-color: #3b3b3b;
  }
}

@media (prefers-color-scheme: dark) {
  .btn-light:hover {
    /*color: #fafafa;*/
    background-color: #323232;
    border-color: #2f2f2f;
  }
}

/* make .link-primary match .link-info styles when in dark mode */
/*
*  this doesn't seem to affect tags that are not explicitly typed as link-primary
*  that's good for now, but I may want to consider modularizing this code or linking it
*  to a different class name as the website grows, since these styles should only apply
*  to the links within buttons on the thoughts and projects pages
*/
@media (prefers-color-scheme: dark) {
  .link-primary {
    color: #17a2b8;
  }
}

@media (prefers-color-scheme: dark) {
  .link-primary:focus, .link-primary:hover {
    color: #128293;
  }
}

/* Prevent scroll bounce:
* This only seems to work on chrome and firefox
* There are multiple options listed here: https://stackoverflow.com/questions/32500876/how-to-prevent-white-space-bounce-after-scrolling-to-the-top-of-the-page-and-t/55396682
* None work for safari, but this one worked for chrome and firefox and was the most succinct
*/
html, body {
  overscroll-behavior: none;
}

/* Enable sticky-top for medium and above screen size */
@media only screen and (min-width: 768px) {
  #sidebar {
    height: 100vh;
  }
}

/* Set responsive default width for mdx images:
* 100% width up to and including screen size medium
* 80% width for screen size large and higher
*/
.mdx-image {
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .mdx-image {
    max-width: 80%;
  }
}

/* Give background image responsive height:
* 35% of viewport width for screens up to medium
* 20% of viewport width for screens medium and higher
*/
#bg-image {
  height: 35vw;
  max-height: 325px;
}

@media only screen and (min-width: 768px) {
  #bg-image {
    height: 20vw;
  }
}

/* Use a custom font for displaying formulas */
.math {
  font-family: "Times New Roman";
  font-style: italic;
  letter-spacing: 0.1em;
}